.buttonNavigate {
    background-color: #ff4655;
    color: white;
    border: none;
    border-radius: 5px;
    width: 98%;
    padding: 1%;
    margin-top: 2%;
    font-family: "Nunito";
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 13pt;
  }
  