.container {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  padding: 1%;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 3px 0px #00000035;
  box-shadow: 0px 3px 3px 0px #00000035;
  .logo {
    width: 21%;
    padding-top: 5px;
    .img {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  .navMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .navRight {
    margin-right: 8%;
    a {
      margin: 0 10%;
    }
  }
  .navLeft {
    width: 80%;
    a {
      margin: 0 2%;
    }
  }
}
