.playerCard {
  margin: 2%;
  box-shadow: 4px 3px 3px 0px #3F3F3F;
  .playersContainer {
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    font-style: italic;
    padding:2%;
  }
  .justifyBetween {
    margin-left: 3%;
    width: 60%;
    display:flex;
    justify-content: space-between;
  }
}