.playerCard {
  margin: 2%;
  box-shadow: 4px 3px 3px 0px #00000035;
  .playersContainer {
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    padding:2%;
  }
  .justifyBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    width: 55%;
  }
}