.topContainer {
  min-height: 100vh;
  background-image: url("../../assets/images/background-homepage-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .profileContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .titleBox {
      width: 351px;
      height: 65px;
      background-color: black;
      padding: 10px;
      margin-left: 50px;

      .title {
        padding-top: 5px;
        text-align: center;
        font-weight: 550;
        font-size: 40px;
        font-style: italic;
        color: white;
        margin: 0;
      }
    }

    .middleContainer {
      width: 95vw;
      max-width: 1420px;
      background: white;
      padding-right: 20px;

      .AnnouncementCard {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }

      .profilePicture {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.8;
          i {
            opacity: 1;
          }
        }

        i {
          opacity: 0;
          position: absolute;
          font-size: 60px;
          color: #fd4454;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }

      .teamName {
        font-weight: normal;
        padding-top: 50px;
        padding-left: 50px;
        font-size: 30px;
        p {
          font-size: 20px;
          opacity: 0.7;
          color: Gray;
          margin: 0;
          padding: 5px 0;
        }
        span {
          font-size: 20px;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 18px;
          background-color: rgb(102, 100, 100);
          border-radius: 5px;

          li {
            display: block;
            margin-bottom: 10px;

            a {
              display: inline-block;
              padding: 5px;
              background-color: #f2f2f2;
              border: 1px solid #ddd;
              color: #333;
              text-decoration: none;

              &:hover {
                background-color: #ddd;
              }
            }
          }
        }
      }

      .teamMates {
        margin-top: 12%;
        margin-bottom: 10px;
        padding: 20px 20px 10px; /* Add 20px padding to the top and bottom, and 10px padding to the left and right */
        margin-left: 50px;
        border-radius: 10px;
        width: auto;
        height: fit-content;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
          rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
          rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
          rgba(0, 0, 0, 0.07) 0px 32px 64px;
        span {
          color: white;
        }
        p {
          opacity: 1;
          color: white;
        }
        ul {
          width: -webkit-fill-available;
          padding: 0;
          li {
            margin-top: 5px;
            width: -webkit-fill-available;
            background-color: rgb(51, 50, 50);
            border-radius: 10px;
            list-style: none;
            opacity: 1;
            padding-left: 10px;
            color: #ff4454;
          }
        }
      }

      .modifyIcon {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        align-items: flex-start;
        padding-top: 103px;
        padding-right: 71px;
        font-size: 25px;
        cursor: pointer;
      }

      .button {
        display: flex;
        width: 20%;
        flex-direction: column;
        padding: 10px 10px;
        gap: 10px;
        button {
          padding: 10px 10px;
        }
      }
    }
  }
}

.defaultAvatar {
  opacity: 0.7;
}

  .userInformations {
    color: gainsboro;
    font-size: 25px;
    
    p {
      margin: 0;
    }
  }